version: '3'
services:
  gateway:
    container_name: nginx_gateway
    build: ./gateway_release
    ports:
      - '80:80'
  backend:
    container_name: backend
    build: ../backend
    environment:
      DATABASE_HOST: postgres
      DATABASE_PASSWORD: ${POSTGRES_PASSWORD}
      DATABASE_USERNAME: ${POSTGRES_USER}
      DATABASE_NAME: ${POSTGRES_DB}
      AUTH_SECRET: ${AUTH_SECRET}
      AUTH_CLIENTID: ${AUTH_CLIENTID}
      AUTH_CLIENTSECRET: ${AUTH_CLIENTSECRET}
      AUTH_CALLBACKURL: ${AUTH_CALLBACKURL}
      MAILDEV_INCOMING_USER: ${MAILDEV_INCOMING_USER}
      MAILDEV_INCOMMING_PASS: ${MAILDEV_INCOMING_PASS}
  frontend:
    container_name: frontend
    build: ../frontend
  postgres:
    #FIXME 추후에 환경변수를 받아 설정하도록 변경해야 함
    container_name: postgres
    image: postgres:latest
    volumes:
      - ./sql/:/docker-entrypoint-initdb.d/
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
  adminer:
    container_name: adminer
    image: adminer:latest
